@theme "~/.config/rofi/theme.rasi"

* {
  border: none;
  border-radius: 10px;
  font: "JetBrains Mono Nerd Font 10";
  min-height: 0;
  background-color: @background;
  color: @foreground;
}

#window {
  width: 350px;
  padding: 15px;

  border: 1px;
  border-color: @foreground;
}

#entry {
  expand: true;
  width: 250px;
}